{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Singapore Production",
      "url": "https://www.xfers.io/api/v3"
    },
    {
      "description": "Singapore Sandbox for testing",
      "url": "https://sandbox.xfers.io/api/v3"
    },
    {
      "description": "Indonesia Production",
      "url": "https://id.xfers.com/api/v3"
    },
    {
      "description": "Indonesia Sandbox for testing",
      "url": "https://sandbox-id.xfers.com/api/v3"
    }
  ],
  "info": {
    "description": "Welcome to Xfers' API documentation. You can find information on our API endpoint specific to your country.",
    "version": "3",
    "title": "Xfers API",
    "contact": {
      "name": "Contact us through our help desk",
      "url": "https://bit.ly/XfersSupport"
    }
  },
  "tags": [
    {
      "name": "Error Response",
      "description": "The API categorises the various failures with Xfers' own error code. The body of the response will be JSON in the following format:\r\n```\r\nerror: \"string\"\r\nerror_code: \"string\"\r\nerror_handling: \"string\"\r\n```\r\nThe field `error` returns the error message that is specific to your request, `error_code` returns the category the error and `error_handling` returns the instruction on how to resolve the error.",
      "x-traitTag" : true
    },
    {
      "name": "Try it out with Postman",
      "description": "You can test our API with postman collection.\r\n\r\n#### Prerequisite  \r\n1. Download Postman App [here](https:\/\/www.getpostman.com\/downloads\/).\r\n2. Create a Postman account.\r\n3. Download the Postman Collection that suits your needs.\r\n\r\n#### Xfers Postman Collection\r\n|Singapore|Indonesia|\r\n|--|--|\r\n|[![Run in Postman](https:\/\/run.pstmn.io\/button.svg)](https:\/\/app.getpostman.com\/run-collection\/5fa6d37311e7bfc6ef2a)| [![Run in Postman](https:\/\/run.pstmn.io\/button.svg)](https:\/\/app.getpostman.com\/run-collection\/453dd7b670533289a719)|",
      "x-traitTag" : true
    },
    {
      "name": "Registration",
      "description": "Register and verify new users."
    },
    {
      "name": "User Account",
      "description": "Manage User and Accounts"
    },
    {
      "name": "E-signature",
      "description": "API for e-signature"
    },
    {
      "name": "Charge",
      "description": "API for Charges"
    },
    {
      "name": "Credit Card (Singapore)",
      "description": "Web SDK for Singapore Credit card\r\n\r\nhttps://github.com/Xfers/xfers-sdk/wiki/%5BWeb-Integration%5D-Xfers-Components#5-startcreditcardflow",
      "x-traitTag" : true
    },
    {
      "name": "Payout",
      "description": "API for Payout"
    },
    {
      "name": "Inter Wallet Payments",
      "description": "Transferring between wallets belonging to the same user. Currently used as a way to transfer money out of your Settlement Wallet."
    },
    {
      "name": "Direct Bank Transfer Payments",
      "description": "API for Direct Bank Transfer Payments"
    },    
    {
      "name": "Bank Account",
      "description": "API to manage Bank Account"
    },
    {
      "name": "Withdraw",
      "description": "API for Withdrawal"
    },
    {
      "name": "Sobatku Account",
      "description": "Sobatku Account Management"
    },
    {
      "name": "Loans",
      "description": "Loans Management"
    },
    {
      "name": "Disbursements",
      "description": "API for Disbursement"
    },
    {
      "name": "Repayments",
      "description": "API for Repayment"
    },
    {
      "name": "Intents",
      "description": "**For user case 1:**\r\n\r\nWhen a user is performing a top-up via  [GET \/transfer_info](http:\/\/docs.xfers.io\/#get-transfer-info), they might forget to enter their contact number which is needed for our system to identify them.\r\n\r\nThe Intents API solves this issue by requiring the user to transfer a unique amount to Xfers which will be used to identify them. The difference between the  `unique_amount`  and the actual  `amount`  will be very small, and Xfers provides the difference for free to the user.\r\n\r\nNote that this only acts as a backup, and the user should enter his contact number in the comments section when doing a bank transfer whenever possible.\r\n\r\nExample: Jane wishes to transfer 5000 Indonesian Rupiah via  `\/intents`.\r\n\r\n1.  She makes a HTTP GET request to  `\/user\/transfer_info`  to get the correct Xfers bank to transfer to (we have many banks!). The response tells her to transfer to Bank Central Asia (BCA).\r\n2.  She makes a HTTP POST request to create an intent. The response tells her to make a bank transfer of 4999 to Xfers.\r\n3.  Jane makes a transfer of 4999 to Xfers BCA. Within a few minutes, Xfers detects the transfer and tops up Jane\u2019s Xfers account with 5000. Xfers absorbs the difference for free.\r\n4.  If  `notify_url`  is given, Xfers will send a callback to this url.\r\n\r\nNote the above scenario is only valid when disable_va is set to True\r\n\r\n**For user case 2:**\r\n\r\nIntent can also be use a means to get callback notifications from Xfers when a user successfully fund their virtual account on Xfers.\r\n\r\nExample: Jane wishes to transfer 5000 Indonesian Rupiah via  `\/intents`  to her virtual Xfers account and get a callback notification when it successful\r\n\r\n1.  She makes a HTTP POST request to create an intent with disable_va set to false(default) and provide a  `notify_url`. The response will provide a list of virtual account nos she can fund her account with from a list of bank that Xfers support.\r\n2.  Jane makes a transfer of 500 to the Xfers BCA Virtual account that the intent api provide. Within a few minutes, Xfers detects the transfer and tops up Jane\u2019s Xfers account with 5000.\r\n3.  Since  `notify_url`  is provided, Xfers will send a callback to this url."
    },
    {
      "name": "Testing",
      "description": "API for testing purposes"
    },
    {
      "name": "Callback Configuration",
      "description": "For certain endpoints you might want to receive callbacks when the transaction becomes completed. You can configure them at the dashboard:\n\nSingapore: `https://www.xfers.io/merchant_settings/callback_settings`\n\nIndonesia: `https://id.xfers.com/merchant_settings/callback_settings`",
      "x-traitTag" : true      
    },    
    {
      "name": "Pagination",
      "description": "To do pagination:\r\n\r\n1.  Decide on number of entries per page (e.g. 100 for this example). Set the limit as this\r\n2.  First page: Offset 0. The latest 100 entries, 1-100, will be returned.\r\n3.  Second page: Offset 100. The next 100 entries, 101-200, will be returned.\r\n4.  Third page: Offset 200. The next 100 entries, 201-300, will be returned.\r\n\r\nHence your offset should always be a multiple of limits.",
      "x-traitTag" : true
    }
  ],
  "paths": {
    "/authorize/signup_login": {
      "post": {
        "tags": [
          "Registration"
        ],
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request POST \"{base_url}\/authorize\/signup_login\" \\\r\n  --header \"X-XFERS-APP-API-KEY: dS7zxQydn4PLxwNE3kuyb4pg6BsNWHE818D2wbhoavQ\" \\\r\n  --header \"Content-Type: application\/json\" \\\r\n  --data \"{\\\"phone_no\\\" : \\\"+6287785725657\\\", \\\"signature\\\" : \\\"5488737c67d790565a15a2dbc3c98bf778aac2c0\\\"}\""
        }],
        "operationId": "signUpLogin",
        "summary": "Sign Up Account/Trigger OTP",
        "description": "This API is used to start user registration by inputting phone number.\nAfter this API is called, an OTP SMS will be sent to that number.\n\nYou can re-trigger this API to re-send OTP to the same phone number after 1 minute.\n\nThis OTP will expire in 10 minutes.\nThe SMS format will be:\n```\n[XFERS] Your OTP is 123456. This is to set up payments for `merchant_name` . If this is not done by you, please report to http://bit.ly/XfersSupport\n```\nThis API uses a pair of public key and secret key.\nThe header of this API uses public key called `X-XFERS-APP-API-KEY`.\nYou will need `X-XFERS-APP-SECRET-KEY`  to generate signature in the request body.\n",
        "security": [
          {
            "X-XFERS-APP-API-KEY": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "phone_no": {
                    "description": "User mobile no. It should follow International format.",
                    "type": "string",
                    "example": "+6287785725657"
                  },
                  "signature": {
                    "description": "SHA1-hex of (phone_no + X-XFERS-APP_SECRET_KEY). More information on generating SHA1 here http://www.sha1-online.com/",
                    "type": "string",
                    "example": "5488737c67d790565a15a2dbc3c98bf778aac2c0"
                  }
                },
                "required": [
                  "phone_no",
                  "signature"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "msg": "success"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/authorize/private_wallet": {
      "post": {
        "operationId": "privateWallet",
        "x-code-samples" : [{
          "lang": "Shell_curl",
          "source": "curl --location --request POST \"{base_url}\/api\/v3\/authorize\/private_wallet\" \\\r\n  --header \"X-XFERS-APP-API-KEY: TjETqu8GsJPGgbxEN85jw8cBcEFs8p6HqsQ3dEcDgDw\" \\\r\n  --header \"Content-Type: application\/json\" \\\r\n  --data \"{\\\"phone_no\\\" : \\\"+6287785725657\\\", \\\"signature\\\" : \\\"0218525f26d5d248d2ca835036dac2f3ecef3c85\\\"}\""
        }],
        "tags": [
          "Registration"
        ],
        "summary": "Register Account",
        "description": "This API is used to start private ledger registration by inputting phone number.\n\n This API uses a pair of public key and secret key.\n\nThe header of this API uses public key called `X-XFERS-APP-API-KEY`. You will need `X-XFERS-APP-SECRET-KEY` to generate signature in the request body.\n\nPlease make use of Pre-request Script to test this API in postman",
        "security": [
          {
            "X-XFERS-APP-API-KEY": [

            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "phone_no": {
                    "description": "User mobile no. It should follow International format.",
                    "type": "string",
                    "example": "+6287785725657"
                  },
                  "signature": {
                    "description": "SHA1-hex of (phone_no + X-XFERS-APP_SECRET_KEY). More information on generating SHA1 here http://www.sha1-online.com/",
                    "type": "string",
                    "example": "5488737c67d790565a15a2dbc3c98bf778aac2c0"
                  }
                },
                "required": [
                  "phone_no",
                  "signature"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "msg": "success"
                }
              }
            }
          },
          "4XX": {
            "description": "List of possible errors",
            "content": {
              "application/json": {
                "schema" : {
                  "$ref": "#/components/schemas/error_response"
                },
                "examples": {
                  "Missing Api Key": {
                    "summary": "Missing API KEY in header",
                    "value": {
                      "error": "Missing API KEY in header"
                    }
                  },
                  "Invalid Api Key": {
                    "summary": "Invalid API KEY",
                    "value": {
                      "error": "Invalid API KEY"
                    }
                  },
                  "Invalid signature": {
                    "summary": "Invalid api_key/signature",
                    "value": {
                      "error": "Invalid api_key/signature"
                    }
                  },
                  "Invalid phone no provided": {
                    "summary": "Invalid phone no provided",
                    "value": {
                      "error": "Invalid phone no provided.",
                      "error_code": "XFE12",
                      "error_handling": "Make sure you entered the correct parameters."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authorize/get_token": {
      "get": {
        "tags": [
          "Registration"
        ],
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request GET \"{base_ur}\/authorize\/get_token?otp=541231&phone_no=%2B65XXXXXXXX&signature=bdc26373b3a78dd11dc840a1b7973f197cf34c91\" \\\r\n  --header \"X-XFERS-APP-API-KEY: {{app-api-key}}\" \\\r\n  --header \"Content-Type: application\/x-www-form-urlencoded\""
        }],
        "operationId": "getToken",
        "summary": "Get User API Token / Submit OTP",
        "description": "After user receives the OTP SMS, merchant's app should capture the OTP and pass it to Xfers via this API.\nThis API will finish the registration and returns user_api_token. user_api_token is used to control the user's account.\nYou should save the user_api_token for future usage. (to be put in the `X-XFERS-USER-API-KEY` in headers of other APIs)\n\nIt will also return a is_fully_verified if they already have an Xfers account and have completed our KYC process.\n\nThis API uses a pair of public key and secret key.\nThe header of this API uses public key called `X-XFERS-APP-API-KEY`. You will need `X-XFERS-APP-SECRET-KEY` to generate signature in the request body.",
        "security": [{
          "X-XFERS-APP-API-KEY": []
        }],
        "parameters": [
          {
            "name": "otp",
            "in": "query",
            "description": "User mobile no. It should follow International format.",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "541231"
            }
          },
          {
            "name": "phone_no",
            "in": "query",
            "description": "User mobile no. It should follow International format.",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "+6287785725657"
            }
          },
          {
            "name": "signature",
            "in": "query",
            "description": "SHA1-hex of (phone_no + OTP + APP_SECRET_KEY). More information on generating SHA1 here http://www.sha1-online.com/",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "71b72cb775fa0e52d815279c74964f5be18a88b8"
            }
          },
          {
            "name": "return_url",
            "in": "query",
            "x-custom-params" : ["Singapore"],
            "description": "Url that new user will be redirected after they completed Xfers account registration at `sign_up_url` provided.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "71b72cb775fa0e52d815279c74964f5be18a88b8",
              "default" : "<Endpoint>\/api\/v3\/account_registration\/completed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "msg": "success",
                  "id": "user_csn7v5lyn4a6",
                  "user_api_token": "A-Bm4vmjmGyhRaMEoxqBGeoXCEQwJYksrTXc6-ypsyk",
                  "currency": "idr",
                  "is_fully_verified": true
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/user": {
      "put": {
        "operationId": "submitKYC",
        "tags": [
          "Registration"
        ],
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request PUT \"{base_url}\/user\" \\\r\n  --header \"X-XFERS-USER-API-KEY: Qh9fors4WmjTfeisB9qEAdsAzEXgeHVQF3-NsE5yi-c\" \\\r\n  --header \"Content-Type: application\/json\" \\\r\n  --data \"{\\\"mother_maiden_name\\\": \\\"Luna\\\", \\\"id_front_url\\\": \\\"http:\/\/res.freestockphotos.biz\/pictures\/8\/8453-a-blue-sky-with-white-clouds-pv.jpg\\\", \\\"selfie_2id_url\\\": \\\"http:\/\/res.freestockphotos.biz\/pictures\/8\/8453-a-blue-sky-with-white-clouds-pv.jpg\\\",\r\n\t\\\"callback_url\\\":\\\"https:\/www.example.com\/update\\\"}\r\n\r\n\""
        }],
        "summary": "Submit KYC Data",
        "description": "To provide KYC data in order to change user from unverified status into fully verified status.  \n\nThe image/document provided us must be hosted in a URL then pass the URL to Xfers via this API.  \nMake sure data type for your image is jpeg / png.  \nMaximum size of the image/ document is 10 MB.  \n\nAfter this data is sent, we will do some verifications on our side and may take some time before user gets fully verified.  In Indonesia, fully verified user will be backed by a savings account.\r\nThus, there are required parameters which are mother_maiden_name, id_front_url, selfie_2id_url.\r\nAdditional data will speed up the KYC process.",
        "security": [
          {
            "user-api-token": [

            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "x-custom-params-requirements" : {
                  "Indonesia" : ["id_front_url", "selfie_2id_url", "full_name", "identity_no", "gender", "mother_maiden_name", "date_of_birth", "place_of_birth", "marital_status", "occupation", "city", "state", "postal_code", "address_line_1"]
                },
                "properties": {
                  "id_front_url": {
                    "type": "string",
                    "description": "URL storing the front image of user identity card"
                  },
                  "selfie_2id_url": {
                    "type": "string",
                    "description": "URL storing the selfie of user holding their id card"
                  },
                  "fullname": {
                    "type": "string",
                    "description": "Account holder full name"
                  },
                  "mother_maiden_name": {
                    "type": "string",
                    "description": "Name of Mother"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Account holder firstname"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Account holder lastname"
                  },
                  "email": {
                    "type": "string",
                    "description": "User email"
                  },
                  "date_of_birth": {
                    "type": "string",
                    "description": " Date of birth for account holder in yyyy-mm-dd"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Gender. Possible values: male / female"
                  },
                  "address_line_1": {
                    "type": "string",
                    "description": "Address line 1"
                  },
                  "address_line_2": {
                    "type": "string",
                    "description": "Address line 2"
                  },
                  "nationality": {
                    "type": "string",
                    "description": "Account holder nationality"
                  },
                  "postal_code": {
                    "type": "string",
                    "description": "Address postal code"
                  },
                  "identity_no": {
                    "type": "string",
                    "description": "Account holder national identity number or, KTP number of Indonesian."
                  },
                  "country": {
                    "type": "string",
                    "description": "Account holder country of residence."
                  },
                  "city": {
                    "type": "string",
                    "description": "Account holder city of residence."
                  },
                  "annual_income": {
                    "type": "integer",
                    "description": "Annual income of user in the local currency (SGD/IDR)"
                  },
                  "id_back_url": {
                    "type": "string",
                    "description": "URL storing the back of the user id card"
                  },
                  "proof_of_address_url": {
                    "type": "string",
                    "description": "URL storing the proof of address"
                  },
                  "support_document_1_url": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "URL storing the image/pdf of support documents like proof of user income"
                  },
                  "support_document_2_url": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "URL storing the image/pdf of support documents like proof of user income"
                  },
                  "support_document_3_url": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "URL storing the image/pdf of support documents like proof of user income"
                  },
                  "support_document_4_url": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "URL storing the image/pdf of support documents like proof of user income"
                  },
                  "support_document_5_url": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "URL storing the image/pdf of support documents like proof of user income"
                  },
                  "meta_data": {
                    "type": "string",
                    "description": "Addtional data like Jumio info dump."
                  },
                  "place_of_birth": {
                    "type": "string",
                    "description": "Account holder’s birth place."
                  },
                  "blood_type": {
                    "type": "string",
                    "description": " Account holder’s blood type, without rhesus. Possible values: ‘A’, ‘B’, 'AB’, or 'O’"
                  },
                  "rt": {
                    "type": "string",
                    "x-custom-params" : ["Indonesia"],
                    "description": "Only Indonesia. Account holder’s RT according to his/her KTP. Leading zero is optional."
                  },
                  "rw": {
                    "type": "string",
                    "x-custom-params" : ["Indonesia"],
                    "description": "Account holder’s RW according to his/her KTP. Leading zero is optional."
                  },
                  "administrative_village": {
                    "type": "string",
                    "x-custom-params" : ["Indonesia"],
                    "description": "Account holder’s administrative_village address. In KTP, it is called Kelurahan or Desa."
                  },
                  "state": {
                    "type": "string",
                    "x-custom-params" : ["Indonesia"],
                    "description": "Account holder’s state of residence. In KTP, it is called Provinsi."
                  },
                  "district": {
                    "type": "string",
                    "x-custom-params" : ["Indonesia"],
                    "description": "Only Indonesia. Account holder’s district address. In KTP, it is called Kecamatan."
                  },
                  "religion": {
                    "type": "string",
                    "x-custom-params" : ["Indonesia"],
                    "description": "Only Indonesia. Account holder’s religion according to his/her KTP. Possible Values: 'Islam’, 'Katholik’, 'Kristen Protestan’, 'Hindu’, 'Budha’, 'Kong Hu Cu’, or 'Aliran Kepercayaan’"
                  },
                  "marital_status": {
                    "type": "string",
                    "description": "Only Indonesia. Account holder’s marital status according to his/her KTP. Possible Values: 'Belum Kawin’, 'Kawin’, 'Janda’, or 'Duda’"
                  },
                  "occupation": {
                    "type": "string",
                    "x-custom-params" : ["Indonesia"],
                    "description": "Only Indonesia. Account holder’s occupation according to his/her KTP."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "available_balance": "0.32",
                  "ledger_balance": "0.32",
                  "bank_transfer_rates": "0.0",
                  "bank_transfer_fees": "0.45",
                  "first_name": "Winston",
                  "last_name": "Andersen",
                  "date_of_birth": "1986-02-27",
                  "country_of_birth": "",
                  "gender": "male",
                  "email": "winston@xfers.com",
                  "country": "id",
                  "nationality": "Indonesian",
                  "address_line_1": "Blk 712 loyang Avenue 5",
                  "address_line_2": "#01-41",
                  "postal_code": "340712",
                  "nric_type": "",
                  "identity_no": "317201180894005",
                  "nric_issue_date": "",
                  "phone_no": "+6287785725657",
                  "bank_accounts": [
                    {
                      "id": 69,
                      "account_no": "1150006390175",
                      "account_holder_name": "PROD ONLY",
                      "detected_name": "PROD ONLY",
                      "verification_status": "pending",
                      "verified": true,
                      "bank_abbrev": "BCA",
                      "usage": "all"
                    },
                    {
                      "id": 175,
                      "account_no": "1680366060",
                      "account_holder_name": "PROD ONLY",
                      "detected_name": "PROD ONLY",
                      "verification_status": "pending",
                      "verified": true,
                      "bank_abbrev": "BCA",
                      "usage": "all"
                    },
                    {
                      "id": 177,
                      "account_no": "1150006390175",
                      "account_holder_name": "PROD ONLY",
                      "detected_name": "PROD ONLY",
                      "verification_status": "pending",
                      "verified": true,
                      "bank_abbrev": "MANDIRI",
                      "usage": "all"
                    },
                    {
                      "id": 207,
                      "account_no": "1234567890",
                      "account_holder_name": "Some Name",
                      "detected_name": "PROD ONLY",
                      "verification_status": "pending",
                      "verified": true,
                      "bank_abbrev": "BCA",
                      "usage": "all"
                    }
                  ],
                  "annual_income": "",
                  "id_front": "15332940588453-a-blue-sky-with-white-clouds-pv.jpg",
                  "id_front_url": "https://sandbox-xfers-id.s3-ap-southeast-1.amazonaws.com/users/nric_fronts/000/000/374/original/15332940588453-a-blue-sky-with-white-clouds-pv.jpg?AWSAccessKeyId=AKIAJQ3UR7B3U4NXLBNA&Expires=1533297752&Signature=eBPUqBc0tCwmmpbKu5HmISLBiaQ%3D",
                  "selfie_2id": "15332940588453-a-blue-sky-with-white-clouds-pv.jpg",
                  "selfie_2id_url": "https://sandbox-xfers-id.s3-ap-southeast-1.amazonaws.com/users/nric_selfies/000/000/374/original/15332940588453-a-blue-sky-with-white-clouds-pv.jpg?AWSAccessKeyId=AKIAJQ3UR7B3U4NXLBNA&Expires=1533297752&Signature=cK6icTFvQC6XSOPMfLSMjZ1ZVlo%3D",
                  "account_locked": false,
                  "kyc_verified": true,
                  "meta_data": "",
                  "place_of_birth": null,
                  "blood_type": null,
                  "rt_rw": null,
                  "administrative_village": null,
                  "district": null,
                  "religion": null,
                  "marital_status": null,
                  "occupation": null,
                  "mother_maiden_name": "Luna"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      },
      "get": {
        "operationId": "getUserInfo",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request GET \"{base_url}\/user\" \\\r\n  --header \"X-XFERS-USER-API-KEY: 2zsujd47H3-UmsxDL784beVnYbxCYCzL4psSbwZ_Ngk\""
        }],
        "tags": [
          "User Account"
        ],
        "summary": "Get User Info",
        "description": "The main usage of this API is to get the current user. One user can have multiple accounts, and the balance returned is the account tied to the current API token. \r\nYou can also use this API to check various data of the user such as first_name, last_name.\r\n\r\nDescription of some notable response\r\n\r\nKey | Value | Description \r\n--------------- |  ----------- | -----\r\nkyc_status | fully_verified | current_kyc_status of user, enum of `not_submitted`, `in_process`, `rejected`, `fully_verified`",
        "security": [
          {
            "user-api-token": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "id": "user_gksj43jgzgqv",
                  "available_balance": "2595750.79",
                  "ledger_balance": "2595750.79",
                  "bank_transfer_rates": "0.0",
                  "bank_transfer_fees": "0.45",
                  "first_name": "docs.xfers.io",
                  "last_name": "testingaccount",
                  "date_of_birth": "1990-11-09",
                  "country_of_birth": "SG",
                  "gender": "male",
                  "email": "docs@xfers.com",
                  "country": "sg",
                  "state": "Singapore",
                  "city": "Singapore",
                  "nationality": "Singaporean",
                  "address_line_1": "Blk 71 Ayer Rajah Cresent",
                  "address_line_2": "#02-52",
                  "postal_code": "541121",
                  "nric_type": "",
                  "identity_no": "S8117102G",
                  "nric_issue_date": "",
                  "phone_no": "+6281128125",
                  "bank_accounts": [
                    {
                      "id": 329,
                      "account_no": "800006788912",
                      "account_holder_name": "Tian Wei",
                      "detected_name": "PROD ONLY",
                      "verification_status": "pending",
                      "verified": true,
                      "bank_abbrev": "CIMB_NIAGA",
                      "usage": "all"
                    },
                    {
                      "id": 561,
                      "account_no": "2480096820",
                      "account_holder_name": null,
                      "detected_name": "PROD ONLY",
                      "verification_status": "pending",
                      "verified": true,
                      "bank_abbrev": "BCA",
                      "usage": "all"
                    }
                  ],
                  "annual_income": "",
                  "id_front": "15357011921535007959147096578.jpg",
                  "id_front_url": "https://sandbox-xfers-id.s3-ap-southeast-1.amazonaws.com/users/nric_fronts/000/000/383/original/15357011921535007959147096578.jpg?AWSAccessKeyId=AKIAJQ3UR7B3U4NXLBNA&Expires=1540979796&Signature=JVrLUGZUtYhfhef4mNXD0L45X%2BA%3D",
                  "selfie_2id": "15357011921535007959147096578.jpg",
                  "selfie_2id_url": "https://sandbox-xfers-id.s3-ap-southeast-1.amazonaws.com/users/nric_selfies/000/000/383/original/15357011921535007959147096578.jpg?AWSAccessKeyId=AKIAJQ3UR7B3U4NXLBNA&Expires=1540979796&Signature=UUMSRP%2FWw55PY23oCLBYF5moZ60%3D",
                  "account_locked": false,
                  "google_auth_enabled": false,
                  "kyc_verified": true,
                  "kyc_needed": true,
                  "meta_data": "",
                  "display_name": "XfersDocsTest",
                  "avatar": "cardProfileDefault.png",
                  "avatar_url": "cardProfileDefault.png",
                  "is_guest": false,
                  "is_trial": true,
                  "place_of_birth": null,
                  "blood_type": null,
                  "rt_rw": null,
                  "administrative_village": null,
                  "district": null,
                  "religion": null,
                  "marital_status": null,
                  "occupation": null,
                  "mother_maiden_name": "Putras"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "getAccountInfo",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request GET \"{base_url}\/accounts --header \"Content-Type: application\/x-www-form-urlencoded\" \\\r\n  --header \"Authorization: {{user-api-token}}\" \\\r\n  --data \"\""
        }],
        "tags": [
          "User Account"
        ],
        "summary": "Get Account Info (Coming Soon)",
        "description": "This API displays the account information, including the storage limits.\n\n Note that this API is on our newer `v4` endpoint instead of `v3`, so the authorization header is `Authorization` instead of `X-XFERS-USER-API-KEY`. The server URL is `api/v4` instead of `api/v3`.",
        "security": [
          {
            "user-api-token": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "query",
            "description": "Wallet ID of the Xfers wallet. \n\n`1`: General Wallet\n\n`2`: Digital Goods Wallet\n\n`8`: Settlement Wallet",
            "required": true,
            "explode": true,
            "schema": {
              "type": "integer",
              "enum": [1, 2, 8]
            }
          },
          {
            "name": "include_limits",
            "in": "query",
            "description": "Whether you want the limits to be returned.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }          
        ],
        "servers": [
          {
            "description": "Singapore Production",
            "url": "https://www.xfers.io/api/v4"
          },
          {
            "description": "Singapore Sandbox for testing",
            "url": "https://sandbox.xfers.io/api/v4"
          },
          {
            "description": "Indonesia Production",
            "url": "https://id.xfers.com/api/v4"
          },
          {
            "description": "Indonesia Sandbox for testing",
            "url": "https://sandbox-id.xfers.com/api/v4"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "id": "account_ioajisdjfos",
                  "object": "PersonalAccount",
                  "balance": "150.00",
                  "wallet_type": "Digital Goods Wallet",
                  "wallet_id": 2,
                  "limitations": {
                    "max_storage_limit": "200.00",
                    "max_storage_limit_remaining": "50.00",
                    "charge_per_transaction_limit" : "5000.00",                    
                    "charge_rolling_yearly_limit" : "30000.00",
                    "charge_rolling_yearly_limit_remaining" : "20000.00"
                  },
                  "currency": "sgd"                  
                },
                "schema": {
                  "properties": {
                    "id" : {
                      "type": "string",
                      "description": "ID of the Account."
                    },
                    "object" :{
                      "type": "string",                      
                      "description": "Type of the object. Subject to changes.",
                      "enum": ["PersonalAccount","SettlementAccount","BusinessAccount"]
                    },
                    "balance": {
                      "type": "string",                      
                      "description": "Account balance"
                    },
                    "wallet_type": {
                      "type": "string",                      
                      "description": "The Xfers wallet type name"
                    },
                    "wallet_id": {
                      "type": "integer",                      
                      "description": "The Xfers wallet type id"
                    },                    
                    "limitations" :{
                      "type": "object",                      
                      "description": "Name-value pairs of the various limit amounts and the remaining limits."
                    },
                    "max_storage_limit" :{
                      "type": "string",                      
                      "description": "Maximum amount you can store in this account."
                    },
                    "max_storage_limit_remaining" :{
                      "type": "string",                      
                      "description": "How much storage limit is remaining for this account."
                    },
                    "charge_per_transaction_limit" :{
                      "type": "string",                      
                      "description": "Maximum amount you can Charge per transaction.  (`/charges`)"
                    },                    
                    "charge_rolling_yearly_limit" :{
                      "type": "string",                      
                      "description": "Maximum amount you can Charge in a rolling year, 365-days window.  (`/charges`)"
                    },
                    "charge_rolling_yearly_limit_remaining" :{
                      "type": "string",                      
                      "description": "How much more you can charge for this account. (`/charges`)"
                    }                                                                                              
                  }
                }                
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },    
    "/user/activities": {
      "get": {
        "operationId": "getTransactionHistory",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request GET \"{base_url}\/user\/activities --header \"Content-Type: application\/x-www-form-urlencoded\" \\\r\n  --header \"X-XFERS-USER-API-KEY: {{user-api-token}}\" \\\r\n  --data \"\""
        }],
        "tags": [
          "User Account"
        ],
        "summary": "Get Transaction History",
        "description": "This API displays a user’s transaction history. \n\n\nThis API displays a user’s transaction history.\n\nI.e. user’s transactions with other merchants will not be displayed.",
        "security": [
          {
            "user-api-token": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of results to return per page.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Earliest date to query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string",
              "format": "DateTime, iso8601 format.URL encode this.",
              "default": "1 month ago"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Latest date to query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string",
              "format": "DateTime, iso8601 format.URL encode this.",
              "default": "Now"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset results for pagination purposes.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Will only show transactions of that type. You can add additional types by separating with a comma.",
            "required": false,
            "explode": true,
            "schema": {
              "enum": ["Charge","Payout","Deposit","Withdrawal"],
              "type": "string",
              "default": "All types included"              
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "activities": [
                      {
                          "fee": 0.0,
                          "created_at": "2019-09-18T14:58:29+08:00",
                          "wallet_name": "Digital Goods",
                          "id": "contract_52683616c80b4c91bc6d6aa83eca4874",
                          "amount": 559.0,
                          "status": "completed",
                          "type": "Transfer",
                          "metadata": {
                              "origin_name": "John Tan",
                              "destination_name": "ABC Business",
                              "description": "This is a charge, money is moving from a customer to the business account"
                          },
                          "order_id": "12345",
                          "invoice_id": null
                      },
                      {
                          "fee": 0.0,
                          "created_at": "2019-09-18T11:55:04+08:00",
                          "wallet_name": "Digital Goods",
                          "id": "contract_402539e247424cf1af35aae32b087727",
                          "amount": -695.29,
                          "status": "completed",
                          "type": "Transfer",
                          "metadata": {
                              "origin_name": "ABC Business",
                              "destination_name": "Mary Jane",
                              "description": "This is a payout, money is moving from the business account to a customer"
                          },
                          "order_id": null,
                          "invoice_id": "87676"
                      },
                      {
                          "fee": 0.0,
                          "created_at": "2019-08-25T21:47:59+08:00",
                          "wallet_name": "Digital Goods",
                          "id": "contract_aaebb4c688ea4a34b73ede332a5c78c3",
                          "amount": -99.88,
                          "status": "completed",
                          "type": "Withdrawal",
                          "metadata": {
                              "description": "POSB 208767841"
                          }
                      },
                      {
                          "fee": 0.0,
                          "created_at": "2019-08-24T14:50:43+08:00",
                          "wallet_name": "Digital Goods",
                          "id": "contract_e8db413d5f94476aa38de79b04128db6",
                          "amount": 300.0,
                          "status": "completed",
                          "type": "Deposit",
                          "metadata": {
                              "description": "Xfers - CIMB"
                          }
                      }        
                  ],
                  "activities_returned": 10,
                  "limit": 10,
                  "offset": 0,
                  "start_date": "2019-08-20T14:02:38+08:00",
                  "end_date": "2019-09-20T23:59:59+08:00"
                },
                "schema": {
                  "properties": {
                    "id" : {
                      "type": "string",
                      "description": "ID of the Charge/Payout/Withdrawal/Payout. You can use this ID to query Charges and Payouts."
                    },
                    "type" :{
                      "type": "string",                      
                      "description": "Transaction type. Charge and Payout are named as 'Transfer', because they are internal transfers between two xfers accounts.",
                      "enum": ["Transfer","Deposit","Withdrawal"]
                    },
                    "order_id": {
                      "type": "string",                      
                      "description": "If it is a charge, it will have a order_id"
                    },
                    "invoice_id": {
                      "type": "string",                      
                      "description": "If it is a payout, it will have a invoice_id"
                    },
                    "amount" :{
                      "type": "float",                      
                      "description": "If money going out of account, negative. If coming in, positive. Note that only a completed Charge will actually deduct money. For example, if a Charge is expired/accepted/pending/unclaimed, no money will actually flow in/out of the wallet, even though there is a amount displayed."
                    }, "fee" :{
                      "type": "float",                      
                      "description": "Fee charged by Xfers for the transaction, if any. Will be 0 if no fees"
                    }, "metadata" :{
                      "type": "object",                      
                      "description": "Shows additional information about a transaction"
                    }, "activities_returned" :{
                      "type": "integer",                      
                      "description": "Number of activities returned. If activities returned is less than the limit, this is the final page."
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/user/transfer_info": {
      "get": {
        "operationId": "getTransferInfo",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request GET \"{base_url}\/user\" \\\r\n  --header \"X-XFERS-USER-API-KEY: 2zsujd47H3-UmsxDL784beVnYbxCYCzL4psSbwZ_Ngk\""
        }],
        "tags": [
          "User Account"
        ],
        "summary": "Get Transfer Info / Get Virtual Account Number",
        "description": "API to get bank account number to be shown to user.  \r\nPlease consult with us to get topup instruction template text to be shown.\r\n\r\nThe common usage of this API is to parse the transfer_info_array given by us and parse it and use the VA numbers of the bank you want\r\n\r\n#### For Virtual Account solution:  \r\nThis API is to get the Virtual Account Number to be displayed to the user\r\n\r\n#### For non Virtual Account solution:  \r\nThis API will show the bank account number to do top up.  \r\nPlease consult with us as this solution will require user to use some other identifier to detect the deposit.",
        "security": [
          {
            "user-api-token": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "bank_name_full": "Bank Permata",
                  "bank_abbrev": "PERMATA",
                  "bank_name_abbreviation": "PERMATA",
                  "bank_account_no": "8773162088567819",
                  "bank_payee_name": "PT Xfers Indonesia Teknologi",
                  "bank_code": "013",
                  "branch_code": "",
                  "branch_area": "",
                  "unique_id": "87785725657",
                  "img_src": "https://d2ukkkjyjaezp4.cloudfront.net/assets/bank-logo-permata-32f25d774c784800bf92310ab010491d5f18af9fecef716ce1c61bb2ce12070d.png",
                  "transfer_info_array": [
                    {
                      "bank_name_full": "Bank Permata",
                      "bank_abbrev": "PERMATA",
                      "bank_name_abbreviation": "PERMATA",
                      "bank_account_no": "8773162088567819",
                      "bank_code": "013",
                      "branch_code": "",
                      "branch_area": "",
                      "unique_id": "87785725657",
                      "img_src": "https://d2ukkkjyjaezp4.cloudfront.net/assets/bank-logo-permata-32f25d774c784800bf92310ab010491d5f18af9fecef716ce1c61bb2ce12070d.png"
                    },
                    {
                      "bank_name_full": "Bank Mandiri",
                      "bank_abbrev": "MANDIRI",
                      "bank_name_abbreviation": "MANDIRI",
                      "bank_account_no": "8830812088567819",
                      "bank_code": "008",
                      "branch_code": "",
                      "branch_area": "",
                      "unique_id": "87785725657",
                      "img_src": "https://d2ukkkjyjaezp4.cloudfront.net/assets/bank-logo-mandiri-3c9030412a3deb3c41589344a9a7bf74a52ef8dd278834d400b917f35e1b3bf9.png"
                    }
                  ],
                  "wallet_name": "Xfers"

                },
                "schema" : {
                  "properties": {
                    "id" : {
                      "description": "ID of the Charge/Payout/Withdrawal/Payout. You can use this ID to query Charges and Payouts."
                    },
                    "type" : {
                      "description": "activity type",
                      "enum": ["Credit Card", "Charge","Payout", "Withdrawal", "Deposit"]
                    },
                    "amount" : {
                      "description": "If money going out of account, negative. If coming in, positive. Note that only a completed Charge will actually deduct money. For example, if a Charge is expired/accepted/pending/unclaimed, no money will actually flow in/out of the wallet, even though there is a amount displayed."
                    },
                    "fee" : {
                      "description": "Fee charged by Xfers for the transaction, if any. Will be 0 if no fees"
                    },
                    "metadata" : {
                      "type" : "object",
                      "description": "Shows additional information about a transaction"
                    },
                    "activities_returned" : {
                      "type" : "string",
                      "description": "Number of activities returned. If activities returned is less than the limit, this is the final page."
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/esignatures_registration": {
      "post": {
        "operationId": "esignaturesRegistration",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request POST \"{base_url}\/esignatures_registration\" \\\r\n  --header \"X-XFERS-USER-API-KEY: hrazKrhmzxM9fz7Si4Ps15-xNiAHsiXxncGAuqVNwSo\""
        }],
        "tags": [
          "E-signature"
        ],
        "summary": "Sign Up E-signature  Account",
        "description": "API to register user account for esignatures.",
        "security": [
          {
            "user-api-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "code": 201,
                  "data": {
                    "privyId": "KE5757",
                    "email": "mail@xfers.com",
                    "phone": "+6282421424",
                    "processed_at": "2019-08-30 20:02:06 +0700",
                    "userToken": "fa3c4afdce0b48ea63f8e648f296c8ff6db41d93976d994a94329390d88dcaa5",
                    "status": "registered",
                    "identity":{
                      "nama": "Aldo Sanjoto",
                      "nik": "1234567890123456",
                      "tanggalLahir": "1997-08-30",
                      "tempatLahir": "Jakarta"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/esignatures_upload_document": {
      "post": {
        "operationId": "esignaturesUploadDocument",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request POST \"{base_url}\/esignatures_upload_document\" \\\r\n  --header \"X-XFERS-USER-API-KEY: hrazKrhmzxM9fz7Si4Ps15-xNiAHsiXxncGAuqVNwSo\" \\\r\n  --form \"doc_type=Serial\" \\\r\n  --form \"document_title=Test\" \\\r\n  --form \"document=your_path\""
        }],
        "tags": [
          "E-signature"
        ],
        "summary": "Upload document for E-signature",
        "description": "API to upload document e-signature",
        "security": [
          {
            "user-api-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded":{
              "schema": {
                "properties": {
                  "document": {
                    "description": "Document to be signed. Must be in pdf format with maximum size of 20MB",
                    "type": "File",
                    "example": "some random.pdf"
                  },
                  "doc_type": {
                    "description": "Can only be Serial or Parallel",
                    "type": "string",
                    "example": "Serial"
                  },
                  "document_title":{
                    "description": "The title of the document",
                    "type": "string",
                    "example": "Contract document"
                  }
                },
                "required": [
                  "document",
                  "doc_type",
                  "document_title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "code": 201,
                  "data": {
                    "docToken": "4e6e915f361c7bea9d81f1dc0c7ef7d2c306b37e21d3979d7229c82b29d80282",
                    "urlDocument": "https://sign-sandbox.privy.id/doc/4e6e915f361c7bea9d81f1dc0c7ef7d2c306b37e21d3979d7229c82b29d80282",
                    "recipients": [{
                        "privyId": "KE7575",
                        "type": "Signer",
                        "enterpriseToken": "41bc84b42c8543daf448d893c255be1dbdcc722e"
                      },
                      {
                        "privyId": "TES001",
                        "type": "Signer",
                        "enterpriseToken": null
                      }
                    ]
                  },
                  "message": "Document successfully upload and shared"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/esignatures_check_status": {
      "get": {
        "operationId": "esignaturesCheckStatus",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request GET \"{base_url}\/esignatures_check_status\" \\\r\n  --header \"X-XFERS-USER-API-KEY: hrazKrhmzxM9fz7Si4Ps15-xNiAHsiXxncGAuqVNwSo\" \\\r\n  --form \"doc_token=bb5e12c77438f60da1f2ab6e566c5aeb6d03561bec3e5d588f7e240e4c164120\""
        }],
        "tags": [
          "E-signature"
        ],
        "summary": "Check status for E-signature",
        "description": "API to check e-signature document status",
        "security": [
          {
            "user-api-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded":{
              "schema": {
                "properties": {
                  "doc_token": {
                    "description": "Document token that's retrieved after uploading document",
                    "type": "string"
                  }
                },
                "required": [
                  "doc_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "code": 200,
                  "data": {
                    "docToken": "bb5e12c77438f60da1f2ab6e566c5aeb6d03561bec3e5d588f7e240e4c164120",
                    "recipients": [{
                        "privyId": "AB1234",
                        "type": "Reviewer",
                        "signatoryStatus": "Completed"
                      },
                      {
                        "privyId": "DE2345",
                        "type": "Signer",
                        "signatoryStatus": "In Progress"
                      }
                    ],
                    "documentStatus": "In Progress",
                    "urlDocument": "https://sign-sandbox.privy.id/doc/bb5e12c77438f60da1f2ab6e566c5aeb6d03561bec3e5d588f7e240e4c164120"
                  },
                  "message": "Successfully get a status document"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/charges": {
      "post": {
        "operationId": "createCharge",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request POST \"{base_url}\/charges\" \\\r\n  --header \"X-XFERS-USER-API-KEY: {{user-api-key}}\" \\\r\n  --header \"Content-Type: application\/json\" \\\r\n  --form \"amount=10000\" \\\r\n  --form \"user_api_token={{user-api-token}}\" \\\r\n  --form \"order_id=Order_docs_12345\" \\\r\n  --form \"description=Testing for Documentation\" \\\r\n  --form \"notify_url=https:\/\/www.example.com\/updates\" \\\r\n  --form \"meta_data=test metadata\""
        }],
        "tags": [
          "Charge"
        ],
        "summary": "Create Charge",
        "description": "The following API will allow you to move money from user's account to merchant's account.  \r\n\r\nIn header X-XFERS-USER-API-KEY, You need to put `merchant's` api key. (As found in Dashboard > Settings > API Tokens).  \r\nIn the user_api_token in the body, You need to put `user's` api key. (As received from get_user_token API).",
        "security": [
          {
            "X-XFERS-USER-API-KEY": [

            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Transaction Amount."
                  },
                  "user_api_token": {
                    "type": "string",
                    "description": "This is your user's api token. You can retrieve this from the Get Token API."
                  },
                  "order_id": {
                    "type": "string",
                    "description": "Unique ref no provided by you to prevent double charging, this cannot be repeated."
                  },
                  "description": {
                    "type": "string",
                    "description": "Testing for Documentation."
                  },
                  "meta_data": {
                    "type": "string",
                    "description": "A set of key/value pairs that you can attach to a charge. It can be useful for storing additional information about the customer in a structured format."
                  },
                  "currency": {
                    "type": "string",
                    "description": "3-letter ISO code for currency"
                  },
                  "customer": {
                    "type": "string",
                    "description": "Customer email or phone number. If provided, only that user can use the checkout_url returned. If the customer does not exist, an account will be created for them using the email/phone number provided. An OTP will be sent to the email/phone for the user to log in."
                  },
                  "return_url": {
                    "type": "string",
                    "description": "URL Xfers will redirect customer to on completion of Xfers checkout."
                  },

                  "card_only": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "When this is true, this charge will will attempt to take payments via credit/debit card."
                  },
                  "redirect": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "When this is true, instead of the JSON response, Xfers will automatically redirect the request to our checkout page"
                  },
                  "cancel_url": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "URL Xfers will redirect customer to on cancellation of Xfers checkout."
                  },
                  "google_auth": {
                    "type": "string",
                    "deprecated": true,
                    "description": "When this is true and user_phone_no is provided, instead of phone SMS OTP, user can use Google Authenticator to do OTP. See Authorize a Charge"
                  },
                  "receipt_email": {
                    "type": "string",
                    "deprecated": true,
                    "description": "The email address to send this charge’s receipt."
                  },
                  "skip_notifications": {
                    "type": "string",
                    "deprecated": true,
                    "description": "Setting this to true will not send transaction reminders/cancelled/expired emails/SMS. Users will still receive payment completed notification."
                  }
                },
                "required": [
                  "amount",
                  "order_id"
                ],
                "x-custom-params-requirements" : {
                  "Indonesia" : ["user_api_token"], "Singapore": ["currency"]
                }
              },
              "examples": {
                "Request Body Example": {
                  "summary": "Request Body Example",
                  "value": {
                    "amount": 10000,
                    "user_api_token": "user-api-key",
                    "order_id": "Order_docs_12345",
                    "description": "Testing for Documentation",
                    "notify_url": "https://www.example.com/updates",
                    "meta_data": "test metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "id": "contract_7abf6bb130d44c02862982ff6022875d",
                  "object": "Sobatku::TransferContract",
                  "status": "processing",
                  "amount": "10000.0",
                  "total_amount": "10000.0",
                  "currency": "idr",
                  "fee_amount": "100.0",
                  "notify_url": "https://www.example.com/updates",
                  "wallet_name": "General Wallet",
                  "order_id": "Order_docs_12345",
                  "description": "Testing for Documentation",
                  "receipt_email": "winston@xfers.com",
                  "metadata": {
                    "callback_url": "https://www.example.com/updates",
                    "merchant_metadata": "test metadata"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      },
      "get": {
        "operationId": "listCharge",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl \"{base_url}\/charges?limit=1\" \\\r\n  -H \"X-XFERS-USER-API-KEY: 2zsujd47H3-UmsxDL784beVnYbxCYCzL4psSbwZ_Ngk\""
        }],
        "tags": [
          "Charge"
        ],
        "summary": "List all Charge",
        "description": "Returns a list of charges you’ve previously created. The charges are returned in sorted order, with the most recent charges appearing first.",
        "security": [
          {
            "X-XFERS-USER-API-KEY": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                  "id": "contract_b840cc9fc5a359c22ed2ccef3427aacd",
                  "object": "TransferContract",
                  "checkout_url" : "https://sandbox.xfers.io/checkout_transaction/b840cc9fc5a359c22ed2ccef3427aacd",
                  "notify_url" : "https://mysite.com/payment_notification",
                  "return_url" : "https://mysite.com/return",
                  "cancel_url" : "https://mysite.com/cancel",
                  "amount" : "9.99",
                  "currency" : "SGD",
                  "order_id" : "A012312",
                  "description" : "Carousell user - Konsolidate",
                  "receipt_email" : "",
                  "total_amount" : "12.49",
                  "fee_amount" : "0.12",
                  "status" : "completed",
                  "metadata" : {
                    "firstname":"Tianwei",
                    "lastname": "Liu"
                  },
                  "transfer_info": {
                    "bank_name_full": "United Overseas Bank",
                    "bank_name_abbreviation": "UOB",
                    "bank_account_no": "123456789",
                    "bank_code": "7375",
                    "swift_code": "UOVBSGSGXXX",
                    "unique_id": "89898989",
                    "outstanding_amount": "0"
                  }
                }
                ]
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/charges/{id}": {
      "get": {
        "operationId": "getCharge",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request GET \"{base_url}\/charges\/contract_7abf6bb130d44c02862982ff6022875d\" \\\r\n  --header \"X-XFERS-USER-API-KEY: {{user-api-key}}\""
        }],
        "tags": [
          "Charge"
        ],
        "summary": "Get Charge",
        "description": "Retrieves the details of a charge that has previously been created.\nSupply the ID that was returned from your previous request, and Xfers will return the corresponding charge information.",
        "security": [
          {
            "X-XFERS-USER-API-KEY": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Charge ID that could be retrieved from the response in Create Charge endpoint",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "contract_7abf6bb130d44c02862982ff6022875d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "summary": "Missing API KEY in header",
                  "value": {
                    "id": "contract_7abf6bb130d44c02862982ff6022875d",
                    "object": "Sobatku::TransferContract",
                    "status": "completed",
                    "amount": "10000.0",
                    "total_amount": "10000.0",
                    "currency": "idr",
                    "fee_amount": "100.0",
                    "notify_url": "https://www.example.com/updates",
                    "wallet_name": "General Wallet",
                    "order_id": "Order_docs_12345",
                    "description": "Testing for Documentation",
                    "receipt_email": "winston@xfers.com",
                    "metadata": {
                      "callback_url": "https://www.example.com/updates",
                      "merchant_metadata": "test metadata"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/charges/{id}/authorize": {
      "post": {
        "operationId": "authorizeCharge",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl \"{base_url}\/charges\/<id>\/authorize\" \\\r\n  -H \"X-XFERS-USER-API-KEY: 2zsujd47H3-UmsxDL784beVnYbxCYCzL4psSbwZ_Ngk\" \\\r\n  -H \"Content-Type: application\/json\" \\\r\n  -d '{\"auth_code\": \"512312\"}'"
        }],
        "tags": [
          "Charge"
        ],
        "summary": "Authorize Charge",
        "description": "Authorize a previously created charge. This is an optional process that will allow buyer to skip the sign in flow on Xfers, allowing checkout to be completed on merchant site. If a correct auth_code is provided, the charge will immediately become \u201Caccepted\u201D by the buyer.\r\n\r\nThis endpoint is only used if  `user_phone_no`  param was passed in during charge creation. The response will return the  `transfer_info`  object containing information the bank the user should transfer to. If multiple banks are available, the  `transfer_info_array`  will also be returned.",
        "security": [
          {
            "X-XFERS-USER-API-KEY": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Charge ID that could be retrieved from the response in Create Charge endpoint",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "contract_7abf6bb130d44c02862982ff6022875d"
            }
          }
        ],
        "requestBody": {
          "description": "Either `auth_code` or `google_auth_code` required",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["auth_code", "google_auth_code"],
                "properties": {
                  "auth_code": {
                    "type": "string",
                    "description": "Either auth_code or google_auth_code required. SMS OTP code provided to the buyer."
                  },
                  "google_auth_code": {
                    "type": "string",
                    "description": "Google Auth OTP code provided to the buyer. If google_auth_enabled of Get Account Info is false, user has not enabled Google Auth with Xfers. Direct users to Xfers 2FA setup page"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example" : {
                  "value": {
                    "id": "contract_b840cc9fc5a359c22ed2ccef3427aacd",
                    "object": "TransferContract",
                    "checkout_url" : "https://sandbox.xfers.io/checkout_transaction/b840cc9fc5a359c22ed2ccef3427aacd",
                    "notify_url" : "https://mysite.com/payment_notification",
                    "return_url" : "https://mysite.com/return",
                    "cancel_url" : "https://mysite.com/cancel",
                    "amount" : "9.99",
                    "currency" : "SGD",
                    "order_id" : "A012312",
                    "description" : "Carousell user - Konsolidate",
                    "receipt_email" : "",
                    "total_amount" : "12.49",
                    "fee_amount" : "0.12",
                    "status" : "accepted",
                    "metadata" : {
                      "firstname":"Tianwei",
                      "lastname": "Liu"
                    },
                    "transfer_info": {
                      "bank_name_full": "United Overseas Bank",
                      "bank_name_abbreviation": "UOB",
                      "bank_account_no": "123456789",
                      "bank_code": "7375",
                      "swift_code": "UOVBSGSGXXX",
                      "unique_id": "89898989",
                      "outstanding_amount": "0"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/charges/{id}/refunds": {
      "post": {
        "operationId": "refundCharge",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request POST \"{base_url}\/charges\/%3Cid%3E\/refunds\" \\\r\n  --header \"X-XFERS-USER-API-KEY: {{user-api-key}}\" \\\r\n  --data \"\""
        }],
        "tags": [
          "Charge"
        ],
        "summary": "Refund Charge",
        "description": "This API will refund a charge.\nBoth funds and fees in this transaction will be refunded to the user's Xfers account.\nPlease use the merchant’s API key for this endpoint",
        "security": [
          {
            "X-XFERS-USER-API-KEY": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-XFERS-USER-API-KEY"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Charge ID that could be retrieved from the response in Create Charge endpoint",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "contract_7abf6bb130d44c02862982ff6022875d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example" : {
                  "value": {
                    "id": "contract_7abf6bb130d44c02862982ff6022875d",
                    "object": "Sobatku::TransferContract",
                    "status": "completed",
                    "amount": "10000.0",
                    "total_amount": "10000.0",
                    "currency": "idr",
                    "fee_amount": "100.0",
                    "notify_url": "https://www.example.com/updates",
                    "wallet_name": "General Wallet",
                    "order_id": "Order_docs_12345",
                    "description": "Testing for Documentation",
                    "receipt_email": "winston@xfers.com",
                    "metadata": {
                      "callback_url": "https://www.example.com/updates",
                      "merchant_metadata": "test metadata"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/charges/{id}/cancel": {
      "post": {
        "operationId": "cancelCharge",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl \"{base_url}\/charges\/<CHARGE_ID>\/cancel\" \\\r\n  -H \"X-XFERS-USER-API-KEY: 2zsujd47H3-UmsxDL784beVnYbxCYCzL4psSbwZ_Ngk\"\r\n  -X POST"
        }],
        "tags": [
          "Charge"
        ],
        "summary": "Cancel Charge",
        "description": "Cancelling a charge that has been previously created by not yet paid. To refund a paid charge, refer to creating a refund.",
        "security": [
          {
            "X-XFERS-USER-API-KEY": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Charge ID that could be retrieved from the response in Create Charge endpoint",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "contract_7abf6bb130d44c02862982ff6022875d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example" : {
                  "value": {
                    "id": "contract_b840cc9fc5a359c22ed2ccef3427aacd",
                    "object": "PendingTransferContract",
                    "checkout_url" : "https://sandbox.xfers.io/checkout_transaction/b840cc9fc5a359c22ed2ccef3427aacd",
                    "notify_url" : "https://mysite.com/payment_notification",
                    "return_url" : "https://mysite.com/return",
                    "cancel_url" : "https://mysite.com/cancel",
                    "amount" : "9.99",
                    "currency" : "SGD",
                    "order_id" : "A012312",
                    "description" : "Carousell user - Konsolidate",
                    "receipt_email" : "",
                    "total_amount" : "12.49",
                    "fee_amount" : "0.12",
                    "status" : "cancelled",
                    "metadata" : {
                      "firstname":"Tianwei",
                      "lastname": "Liu"
                    },
                    "transfer_info": {
                      "bank_name_full": "United Overseas Bank",
                      "bank_name_abbreviation": "UOB",
                      "bank_account_no": "123456789",
                      "bank_code": "7375",
                      "swift_code": "UOVBSGSGXXX",
                      "unique_id": "89898989",
                      "outstanding_amount": "0"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/payouts": {
      "post": {
        "operationId": "createPayout",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request POST \"{base_url}\/payouts\" \\\r\n  --header \"X-XFERS-USER-API-KEY: {{user-api-key}}\" \\\r\n  --header \"Content-Type: application\/json\" \\\r\n  --form \"user_api_token={{user-api-token}}\" \\\r\n  --form \"amount=15000.00\" \\\r\n  --form \"invoice_id=Order_docs_123\" \\\r\n  --form \"descriptions=Payment for Rent for July\""
        }],
        "tags": [
          "Payout"
        ],
        "summary": "Create Payout",
        "description": "The following API will allow you to move money from merchant's account to user's account.\nIn header X-XFERS-USER-API-KEY, You need to put merchant's api key. (As found in Dashboard > Settings > API Tokens).\nIn the user_api_token in the body, You need to put user's api key. (As received from get_user_token API).\nAlternatively, You can also make a peer to peer transfer using this API by putting the sender's token in X-XFERS-USER-API-KEY in the header and putting the receiver's token in user_api_token in the body",
        "security": [
          {
            "X-XFERS-USER-API-KEY": [

            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "x-custom-params-requirements" : {
                  "Indonesia" : ["user_api_token"]
                },
                "required": [
                  "amount",
                  "invoice_id"
                ],
                "properties": {
                  "user_api_token": {
                    "type": "string",
                    "description": "Your user API token which you can retrieve this from the get token API response"
                  },
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Transaction Amount"
                  },
                  "invoice_id": {
                    "type": "string",
                    "description": "Unique ref no provided by you to prevent double charging, this cannot be repeated."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of transaction for display purposes"
                  },
                  "wallet_id": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "Your user API token which you can retrieve this from the get token API response"
                  },
                  "meta_data": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "Transaction Amount"
                  },
                  "recipient": {
                    "type": "string",
                    "x-custom-params" : ["Singapore"],
                    "description": "Either recipient or user_api_token required. Email or Mobile Phone Number of the recipient for this payout."
                  },
                  "currency": {
                    "type": "string",
                    "deprecated": true,
                    "description": "An internal description that you can attach to a payout. It can be useful for storing additional information about the customer in a structured format. You will be provided with these meta_data in your queries for payouts."
                  }
                }
              },
              "examples": {
                "Request Body Example": {
                  "summary": "Request Body Example",
                  "value": {
                    "user_api_token": "user-api-key",
                    "amount": 10000,
                    "invocie_id": "Order_docs_12345",
                    "description": "Testing for Documentation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "id": "contract_9b562994c4274d9993ba93c94619a8f6",
                  "recipient": "winston@xfers.com",
                  "metadata": {
                    "merchant_metadata": ""
                  },
                  "invoice_id": "Order_docs_123",
                  "descriptions": "Payment for Rent for July",
                  "process_type": "normal",
                  "amount": "15000.0",
                  "currency": "idr",
                  "bank": null,
                  "bank_account_no": null,
                  "created_date": "2019-04-12T07:10:50Z",
                  "completed_date": null,
                  "status": "processing",
                  "wallet_id": 1,
                  "wallet_name": "General Wallet",
                  "balance": "102969900.0",
                  "fee_amount": "0.0"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      },
      "get": {
        "operationId": "listPayout",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl \"{base_url}\/payouts?limit=1\" \\\r\n  -H \"X-XFERS-USER-API-KEY: 2zsujd47H3-UmsxDL784beVnYbxCYCzL4psSbwZ_Ngk\""
        }],
        "tags": [
          "Payout"
        ],
        "summary": "List All Payout",
        "description": "Returns a list of payouts you’ve previously created. The payouts are returned in sorted order, with the most recent charges appearing first.",
        "security": [
          {
            "X-XFERS-USER-API-KEY": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 50 items.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": [
                  {
                    "id": "6fa51cd08c8ae115f858593412bb72c8",
                    "recipient" : "+65XXXXXXXX",
                    "invoice_id" : "AZ0001",
                    "amount" : 150.00,
                    "currency" : "SGD",
                    "descriptions" : "Payment for Rent for July",
                    "bank" : "",
                    "bank_account_no" : "",
                    "created_date" : "2015-07-01T19:01:25Z",
                    "completed_date" : "",
                    "status" : "completed",
                    "meta_data" : "Liu Tianwei"
                  }
                ]
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/payouts/{id}": {
      "get": {
        "operationId": "getPayout",
        "tags": [
          "Payout"
        ],
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request GET \"{base_url}\/payouts\/contract_9b562994c4274d9993ba93c94619a8f6\" \\\r\n  --header \"X-XFERS-USER-API-KEY: {{user-api-key}}\""
        }],
        "summary": "Get Payout",
        "description": "Retrieves the details of a payout that has previously been created.\nSupply the unique payout ID that was returned from your previous request, and Xfers will return the corresponding payout information.",
        "security": [
          {
            "X-XFERS-USER-API-KEY": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Payout ID. You can get this from the create payout API.",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "contract_9b562994c4274d9993ba93c94619a8f6"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "id": "contract_9b562994c4274d9993ba93c94619a8f6",
                  "recipient": "winston@xfers.com",
                  "metadata": {
                    "merchant_metadata": ""
                  },
                  "invoice_id": "Order_docs_123",
                  "descriptions": "Payment for Rent for July",
                  "process_type": "normal",
                  "amount": "15000.0",
                  "currency": "idr",
                  "bank": null,
                  "bank_account_no": null,
                  "created_date": "2019-04-12T07:10:50Z",
                  "completed_date": "2019-04-12T07:11:22Z",
                  "status": "completed",
                  "wallet_id": 1,
                  "wallet_name": "General Wallet",
                  "balance": "102969900.0",
                  "fee_amount": "0.0"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/inter_wallet_payments": {
      "post": {
        "operationId": "createInterwalletPayment",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request POST \"{base_url}\/inter_wallet_payments\" \\\r\n  --header \"Authorization: {{user-api-token}}\" \\\r\n  --header \"Content-Type: application\/json\" \\\r\n--form \"amount=3000.00\" \\\r\n--form \"external_id=foo_bar_123\" \\\r\n--form \"from_wallet_id=8\"\\\r\n--form \"to_wallet_id=2\""
        }],
        "tags": [
          "Inter Wallet Payments"
        ],
        "summary": "Create Inter Wallet Payment (Coming Soon)",
        "description": "The following API will allow you to move money between wallets belonging to the same user. The API token used in Authorization header should be your customer's API token. \n\n Note that this API is on our newer `v4` endpoint instead of `v3`, so the authorization header is `Authorization` instead of `X-XFERS-USER-API-KEY`. The server URL is `api/v4` instead of `api/v3`.",
        "security": [
          {
            "Authorization": [

            ]
          }
        ],
        "servers": [
          {
            "description": "Singapore Production",
            "url": "https://www.xfers.io/api/v4"
          },
          {
            "description": "Singapore Sandbox for testing",
            "url": "https://sandbox.xfers.io/api/v4"
          },
          {
            "description": "Indonesia Production",
            "url": "https://id.xfers.com/api/v4"
          },
          {
            "description": "Indonesia Sandbox for testing",
            "url": "https://sandbox-id.xfers.com/api/v4"
          }
        ],        
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "external_id",
                  "from_wallet_id",
                  "to_wallet_id"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Transaction Amount. Please note that you cannot exceed the total wallet storage balance."
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Unique ref no provided by you to prevent double charging, this cannot be repeated."
                  },
                  "from_wallet_id": {
                    "type": "integer",
                    "description": "Wallet ID of the Xfers wallet to transfer from. Can only choose Settlement Wallet for now. \n\n`8`: Settlement Wallet",
                    "enum": [8]                    
                  },
                  "to_wallet_id": {
                    "type": "integer",
                    "description": "Wallet ID of the Xfers wallet to transfer to. \n\n`1`: General Wallet\n\n`2`: Digital Goods Wallet",
                    "enum": [1, 2]                    
                  }
                }
              },
              "examples": {
                "Request Body Example": {
                  "summary": "Request Body Example",
                  "value": {
                    "amount": 3000.00,
                    "external_id": "foo_bar_123",
                    "from_wallet_id": 8,
                    "to_wallet_id": 1                    
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "id": "contract_9b562994c4274d9993ba93c94619a8f6",
                  "object": "InterWallet",
                  "amount": "3000.00",
                  "external_id": "foo_bar_123",
                  "status": "processing",                  
                  "created_at": "2019-04-12T07:10:50Z",
                  "source": {
                    "id": "account_00002",
                    "object": "PersonalSettlementAccount",
                    "balance": "150.00",
                    "wallet_type": "Settlement Wallet",
                    "wallet_id": 8,
                    "currency": "sgd"
                  },
                  "destination": {
                    "id": "account_1244",
                    "object": "PersonalAccount",
                    "balance": "3000.00",
                    "wallet_type": "Digital Goods Wallet",
                    "wallet_id": 2,
                    "currency": "sgd"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4XX"
          }
        }
      }
    },
    "/inter_wallet_payments/{id}": {
      "get": {
        "operationId": "getInterwalletPayment",
        "x-code-samples": [{
          "lang": "Shell_curl",
          "source": "curl --location --request GET \"{base_url}\/inter_wallet_payments/{id}\" \\\r\n  --header \"Authorization: {{user-api-token}}\""
        }],
        "tags": [
          "Inter Wallet Payments"
        ],
        "summary": "Get Inter Wallet Payment (Coming Soon)",
        "description": "Retrive a previously created inter wallet payment. You can use this to check the status, whether it has been completed or still processing. The API token used in Authorization header should be your customer's API token. \n\n Note that this API is on our newer `v4` endpoint instead of `v3`, so the authorization header is `Authorization` instead of `X-XFERS-USER-API-KEY`. The server URL is `api/v4` instead of `api/v3`.",
        "security": [
          {
            "Authorization": [

            ]
          }
        ],
        "servers": [
          {
            "description": "Singapore Production",
            "url": "https://www.xfers.io/api/v4"
          },
          {
            "description": "Singapore Sandbox for testing",
            "url": "https://sandbox.xfers.io/api/v4"
          },
          {
            "description": "Indonesia Production",
            "url": "https://id.xfers.com/api/v4"
          },
          {
            "description": "Indonesia Sandbox for testing",
            "url": "https://sandbox-id.xfers.com/api/v4"
          }
        ],        
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "in": "query",
                    "type": "string",
                    "description": "Inter Wallet Payment ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json" : {
                "example": {
                  "id": "contract_9b562994c4274d9993ba93c94619a8f6",
                  "object": "InterWallet",
                  "amount": "3000.00",
                  "external_id": "foo_bar_123",
                  "status": "completed",                  
                  "created_at": "2019-04-12T07:10:50Z",
                  "source": {
                    "id": "account_00002",
                    "object": "PersonalSettlementAccount",
                    "balance": "150.00",
                    "wallet_type": "Settlement Wallet",
                    "wallet_id": 8,
                    "currency": "sgd"
                  },
                  "destination": {
                    "id": "account_1244",
                    "object": "PersonalAccount",
                    "balance": "3000.00",
                    "wallet_type": "Digital Goods Wallet",
                    "wallet_id": 2,
                    "currency": "sgd"
                  }
                }
              }
            }
[...]
