.App {
  display: block;
  flex-direction: row;
  height: 100vh;
}
.country-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-header-title{
  margin: 10px;
  font-size: 3rem;
}


#api-data {
  width: 90vw;
  padding-left: 30px;
  padding-top: 30px;
  overflow-y: scroll;
}
